.main {
  @apply flex min-h-screen;

  div[class="container"] {
    @apply px-4 py-20  max-w-3xl w-full md:mx-auto
     text-base text-slate-500 font-normal leading-7 prose prose-headings:mt-0  prose-headings:text-slate-900 prose-h2:text-3xl prose-headings:font-medium prose-headings:-tracking-wider prose-headings:mb-4 prose-figcaption:text-center prose-strong:text-slate-600 prose-blockquote:font-serif prose-blockquote:text-slate-500 prose-blockquote:text-lg  prose-code:text-slate-400 prose-code:px-1 prose-code:py-0.5 prose-code:rounded prose-code:font-light prose-pre:bg-slate-50 prose-pre:font-mono prose-headings:leading-normal;

    iframe {
      @apply w-full aspect-video h-auto rounded-lg;
    }

    a {
      @apply underline underline-offset-[6px] font-medium text-slate-600  hover:text-slate-500;
    }
  }
  a,
  a:hover {
    @apply transition-all ease-linear duration-200;
  }

  img {
    @apply rounded-lg;
  }

  [data-rehype-pretty-code-fragment] {
    @apply grid rounded-t-lg rounded-b-lg my-4 relative border;

    [data-rehype-pretty-code-title] {
      @apply bg-slate-50 px-5 py-3  rounded-t-lg flex items-center border-b text-slate-600 text-sm font-medium;

      &::before {
        @apply content-[''] w-12 h-[15px] flex mr-4;
        background: radial-gradient(
          circle at 7px 7px,
          rgba(black, 0.08) 7px,
          transparent 7px,
          transparent 7px
        );
        background-size: 17px 20px;
      }
    }

    pre,
    code {
      @apply whitespace-pre-wrap break-words break-all my-0 font-['Fira_Code'] font-medium text-xs leading-loose bg-white box-border;
      [data-highlighted-line] {
        @apply bg-slate-100 -mx-5 px-5 w-[calc(100%+38px)];
      }
    }
  }

  pre {
    counter-reset: section;
    span[data-line] {
      &::before {
        counter-increment: section;
        content: counters(section, '.') ' ';
        width: 20px;
        margin-right: 16px;
        display: inline-block;
        text-align: right;
        opacity: 0.5;
        box-sizing: border-box;
      }
    }
  }
}
